@font-face {
  font-family : 'GothicReg';
  src         : url('../fonts/GOTHIC.eot');
  src         : url('../fonts/GOTHIC.eot?#iefix') format("embedded-opentype"),
  url('../fonts/GOTHIC.svg') format("svg"),
  url('../fonts/GOTHIC.woff') format("woff"),
  url('../fonts/GOTHIC.ttf') format("truetype");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'GothicBold';
  src         : url('../fonts/GOTHICB.eot');
  src         : url('../fonts/GOTHICB.eot?#iefix') format("embedded-opentype"),
  url('../fonts/GOTHICB.svg') format("svg"),
  url('../fonts/GOTHICB.woff') format("woff"),
  url('../fonts/GOTHICB.ttf') format("truetype");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'antquabi';
  src         : url('../fonts/antquabi-webfont.eot');
  src         : url('../fonts/antquabi-webfont.eot?#iefix') format("embedded-opentype"),
  url('../fonts/antquabi-webfont.svg') format("svg"),
  url('../fonts/antquabi-webfont.woff') format("woff"),
  url('../fonts/antquabi-webfont.ttf') format("truetype");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'antquab';
  src         : url('../fonts/antquab-webfont.eot');
  src         : url('../fonts/antquab-webfont.eot?#iefix') format("embedded-opentype"),
  url('../fonts/antquab-webfont.svg') format("svg"),
  url('../fonts/antquab-webfont.woff') format("woff"),
  url('../fonts/antquab-webfont.ttf') format("truetype");
  font-weight : normal;
  font-style  : normal;
}

@font-face {
  font-family : 'MTCORSVA';
  src         : url('../fonts/MTCORSVA.eot');
  src         : url('../fonts/MTCORSVA.eot?#iefix') format("embedded-opentype"),
  url('../fonts/MTCORSVA.svg') format("svg"),
  url('../fonts/MTCORSVA.woff') format("woff"),
  url('../fonts/MTCORSVA.TTF') format("truetype");
  font-weight : normal;
  font-style  : normal;
}








