.director_block {
  background : #f6f6f3;
  margin     : 50px 0;
  display    : table;
  width      : 100%;

  @include respond-to-max($mobile) {

    .director_slogan {
      display : table-footer-group;
    }

    .director_photo {
      display : table-header-group;
    }
  }

  @include respond-to-min($desktop) {
    margin : 100px 0 55px;
  }

}

.director_photo,
.director_slogan {
  display        : table-cell;
  vertical-align : middle;
}

.director_photo {
  text-align : center;
  max-width  : 50vw;

  img {
    display        : inline-block;
    vertical-align : middle;
    max-width      : 100%;
  }

  @include respond-to-min($desktop) {
    min-width : 470px;
  }
}

.director_slogan {
  text-align : center;
  padding    : 10px;

  p {
    margin-top     : 25px;
    font-size      : 18px;
    letter-spacing : -1.2px;
    color          : #000;
  }

  @include respond-to-min($desktop) {
    padding : 10px 60px 20px;
  }

  @include respond-to-max($desktop) {
    p {
      font-size : 14px;

      &:last-child {
        margin-bottom : 30px;
      }
    }
  }
}

.director_slogan_text {
  color          : #000;
  font           : 46px/1.1 $MTCORSVA;
  letter-spacing : -1.5px;

  @include respond-to-max($desktop) {
    padding   : 30px 0 0;
    font-size : 30px;
  }
}

.team_img {
  margin-bottom : 30px;

  @include respond-to-min($mobile) {
    float        : left;
    margin-right : 20px;
    max-width    : 52%;
  }

  @include respond-to-min($desktop_large) {
    margin-right : 70px;
  }

  img {
    display   : block;
    max-width : 100%;
  }
}

.team_block {
}

.team_text {
  margin-bottom : 30px;

  h2 {
    color         : #393939;
    font          : 25px/21px $antquab;
    margin-bottom : 10px;
  }

  p {
    color          : #828282;
    margin-bottom  : 20px;
    letter-spacing : -.5px;
    font-size      : 11px;
    line-height    : 16px;
  }

  a {
    color : #778eb4;
  }

  @include respond-to-min($desktop) {
    padding-top : 48px;

    h2 {
      font : 35px/31px $antquab;
    }

    p {
      font-size   : 14px;
      line-height : 20px;
    }
  }
}

.team_video {
  //height : 615px;
  margin         : 40px 0 35px;
  position       : relative;
  padding-bottom : 49.25%;
  padding-top    : 30px;
  height         : 0;
  overflow       : hidden;
}

.youtube_player {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
}