mixin price_table()
  table.price_table(cellspacing='0', cellpadding='0')
    tbody
      tr.price_table_row.price_t_title.service_name
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.service_name
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner Архитектурный проект
        td.col_2 м2
        td.col_3 дог
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Стоимость обсуждается индивидуально
      tr.price_table_row
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner Проектирование мебели
        td.col_2
        td.col_3
      tr.price_table_row.stroy_1
        td.col_1
          .softmerge-inner Кухни (в зависимости от стиля и площади)
        td.col_2 шт
        td.col_3 от 500
      tr.price_table_row.stroy_1
        td.col_1
          .softmerge-inner Шкафы, кровати, диваны, комоды, тумбы и тд.
        td.col_2 шт
        td.col_3 от 300
      tr.price_table_row.stroy_1
        td.col_1
        td.col_2
        td.col_3
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner Дизайн проект Люкс
        td.col_2 м2
        td.col_3 290
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          b.color_black Чертежи:
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Обмерочный чертеж
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Варианты решений планировки
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема демонтажных работ
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема монтажа новых перегородок
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема размещения электрики с материалами:(производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          | Схема размещения сантехники с материалами 
          br
          | (вид, производитель, коллекция,
          |             модель)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема кондиционирования с материалами (вид, мощность кондиционера)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схемы разверток стен с материалами (вид, производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема пола с материалами (вид, производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема потолка с материалами (производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схемы раскладки плитки с материалами (производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема открывания дверей с материалами (тип, производитель, модель дверей)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема освещения с материалами (тип, производителя, модель светильника)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема расстановки мебели с привязкой электрики и оборудования
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Чертежи для индивидуального изготовления мебели
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          b.color_black 3D визуализация Люкс:
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Виды каждого помещения
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Варианты дизайнерских решений (цвета отделки, виды материалов)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner 3D Визуализация Люкс
        td.col_2 м2
        td.col_3 180
      tr.price_table_row.stroy_1
        td(colspan='3')
          .price_img
            img(src='i/price/vis_lux.jpg', alt='')
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner Дизайн проект Стандарт
        td.col_2 м2
        td.col_3 240
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          b.color_black Чертежи:
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Обмерочный чертеж
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Варианты решений планировки
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема демонтажных работ
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема монтажа новых перегородок
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема размещения электрики с материалами:(производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          | Схема размещения сантехники с материалами 
          br
          | (вид, производитель, коллекция,
          |             модель)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема кондиционирования с материалами (вид, мощность кондиционера)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схемы разверток стен с материалами (вид, производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема пола с материалами (вид, производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема потолка с материалами (производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схемы раскладки плитки с материалами (производитель, коллекция, цвет)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема открывания дверей с материалами (тип, производитель, модель дверей)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема освещения с материалами (тип, производителя, модель светильника)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема расстановки мебели с привязкой электрики и оборудования
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          b.color_black 3D визуализация Стандарт:
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Виды каждого помещения
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Варианты дизайнерских решений (цвета отделки, виды материалов)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner 3D Визуализация Стандарт
        td.col_2 м2
        td.col_3 150
      tr.price_table_row.stroy_1
        td(colspan='3')
          .price_img
            img(src='i/price/viz_stand.jpg', alt='')
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner Дизайн проект Эконом
        td.col_2 м2
        td.col_3 150
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          b.color_black Чертежи:
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Обмерочный чертеж
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Варианты решений планировки
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема демонтажных работ
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема монтажа новых перегородок
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема размещения электрики
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема размещения сантехники
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема кондиционирования
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схемы разверток стен
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема пола
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема потолка
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схемы раскладки плитки с размером
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема открывания дверей
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема освещения с указанием типа осветительных приборов
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Схема расстановки мебели с привязкой электрики и оборудования
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
          b.color_black 3D Визуализация Эконом:
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Виды каждого помещения
      tr.price_table_row.stroy_1
        td.col_1(colspan='3') Варианты дизайнерских решений (цвета отделки, виды материалов)
      tr.price_table_row.stroy_1
        td.col_1(colspan='3')
      tr.price_table_row.price_t_subcaption.stroy_1
        td.col_1
          .softmerge-inner 3D Визуализация Эконом
        td.col_2 м2
        td.col_3 100
      tr.price_table_row.stroy_1
        td(colspan='3')
          .price_img
            img(src='i/price/viz_econom.jpg', alt='')
      //-  2
      //- tr.price_table_row.price_t_title.stroy_2
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      //- tr.price_table_row.stroy_2
        td.col_1(colspan='3')
      //-  2-1
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_1
        td.col_1
          .softmerge-inner Земляные работы
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_1
        td.col_1
          .softmerge-inner Выемка грунта вручную
        td.col_2 м3
        td.col_3 120-170
      tr.price_table_row.stroy_2.stroy_2_1
        td.col_1
          .softmerge-inner Обратная засыпка грунта
        td.col_2 м3
        td.col_3 100-150
      tr.price_table_row.stroy_2.stroy_2_1
        td.col_1
          .softmerge-inner Планировка щебня
        td.col_2 м2
        td.col_3 30
      tr.price_table_row.stroy_2.stroy_2_1
        td.col_1
          .softmerge-inner Установка бордюров
        td.col_2 м.п
        td.col_3 80
      tr.price_table_row.stroy_2.stroy_2_1
        td.col_1
          .softmerge-inner Устройство песчаного основания
        td.col_2 м2
        td.col_3 25
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-2
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Бетонные работы
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Бетонная подготовка под фундамент
        td.col_2 м3
        td.col_3 45
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Вязка арматуры
        td.col_2 кг
        td.col_3 5,35
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Изготовление керамзитобетона/бетона вручную
        td.col_2 м3
        td.col_3 200
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Монтаж опалубки колонн до 3м
        td.col_2 шт
        td.col_3 180
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Укладка бетона (бетономешалка)
        td.col_2 м3
        td.col_3 250
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Укладка бетона (миксер)
        td.col_2 м3
        td.col_3 170
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Установка горизонтальной/вертикальной опалубки
        td.col_2 м2
        td.col_3 160
      tr.price_table_row.stroy_2.stroy_2_2
        td.col_1
          .softmerge-inner Установка опалубки с двух сторон
        td.col_2 м.п
        td.col_3 45
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-3
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Общие строительные работы
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Армирование кирпичной кладки
        td.col_2 м.п
        td.col_3 5
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Гидроизоляция обмазочная 1 слой
        td.col_2 м2
        td.col_3 27
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Грунтовка под гидроизоляцию (праймер)
        td.col_2 м2
        td.col_3 22
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Изготовление перемычек+монтаж металл на окна
        td.col_2 шт
        td.col_3 225
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Изготовление площадки (металл с бетонированием)
        td.col_2 м2
        td.col_3 630
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Изготовление ступеней (металл)
        td.col_2 шт
        td.col_3 330
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Кладка кирпича белого
        td.col_2 шт
        td.col_3 2,5
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Кладка кирпича красного
        td.col_2 шт
        td.col_3 2
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Монтаж пенополистирола в кладке
        td.col_2 м2
        td.col_3 35
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Монтаж фундаментных блоков
        td.col_2 шт
        td.col_3 135
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Укладка газобетонных блоков (100х300х600)
        td.col_2 шт
        td.col_3 12
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Укладка газобетонных блоков (200х300х600)
        td.col_2 шт
        td.col_3 14
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Укладка песчаника
        td.col_2 м2
        td.col_3 от 150
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Укладка утеплителя в кладке
        td.col_2 м2
        td.col_3 35
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Установка перемычек бетонных (готовых) вручную
        td.col_2 шт
        td.col_3 135
      tr.price_table_row.stroy_2.stroy_2_3
        td.col_1
          .softmerge-inner Фигурная резка облицовочного кирпича с укладкой
        td.col_2 шт
        td.col_3 12
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-4
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Кровельные работы
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Кровля (металлочерепица, шифер) до 4 скатов
        td.col_2 м2
        td.col_3 260
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Кровля (металлочерепица, шифер) от 4 до 8 скатов
        td.col_2 м2
        td.col_3 290
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Кровля (металлочерепица, шифер) свыше 8 скатов
        td.col_2 м2
        td.col_3 330
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          | Кровля (стропильная с-ма с обрешеткой, 
          br
          | гидробарьер+ утеплитель+ битумка) до 4 скатов
        td.col_2 м2
        td.col_3 290
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          | Кровля (стропильная с-ма с обрешеткой, 
          br
          | гидробарьер+ утеплитель+ битумка) от 4 до 8 скатов
        td.col_2 м2
        td.col_3 330
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          | Кровля (стропильная с-ма с обрешеткой, 
          br
          | гидробарьер+ утеплитель+ битумка) свыше 8 скатов
        td.col_2 м2
        td.col_3 360
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Монтаж водосточного желоба 130мм, труб
        td.col_2 м.п
        td.col_3 80
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Монтаж подшивы
        td.col_2 м.п
        td.col_3 90
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Обработка древесины
        td.col_2 м3
        td.col_3 450
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1.text_center
          .softmerge-inner
            b.color_black  Ремонт кровли 
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Монтаж стропильной системы
        td.col_2 м2
        td.col_3 130
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Монтаж вытяжек
        td.col_2 шт
        td.col_3 90
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Монтаж листов шифера
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Монтаж обрешетки
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1 Укладка OSB
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Укладка битумной черепицы
        td.col_2 м2
        td.col_3 60
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Укладка керамической черепицы
        td.col_2 м2
        td.col_3 80
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Укладка металлочерепицы
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Укладка пароизоляции /гидробарьер
        td.col_2 м2
        td.col_3 13
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Укладка полимерно-песчаной черепицы
        td.col_2 м2
        td.col_3 80
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Укладка утеплителя
        td.col_2 м2
        td.col_3 27
      tr.price_table_row.stroy_2.stroy_2_4
        td.col_1
          .softmerge-inner Устройство примыканий
        td.col_2 м.п
        td.col_3 30
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-5
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Фасад
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Грунтовка поверхности
        td.col_2 м2
        td.col_3 9
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Монтаж вентилируемых фасадов из профлиста
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Монтаж пенополистирола
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Монтаж сетки просечно-вытяжной (под штукатурку)
        td.col_2 м2
        td.col_3 17
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Монтаж фасадов из винилового сайдинга
        td.col_2 м2
        td.col_3 75
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Оклеивание поверхностей фасадной сеткой
        td.col_2 м2
        td.col_3 17
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Покраска фасада (2 слоя)
        td.col_2 м2
        td.col_3 30
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Шпатлевка поверхности
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Штукатурка камешковой штукатуркой
        td.col_2 м2
        td.col_3 110
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Штукатурка короед
        td.col_2 м2
        td.col_3 от 50
      tr.price_table_row.stroy_2.stroy_2_5
        td.col_1
          .softmerge-inner Штукатурка цементная
        td.col_2 м2
        td.col_3 68
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-6
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_6
        td.col_1
          .softmerge-inner Металлоконструкции
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_6
        td.col_1
          .softmerge-inner Изготовление перил ограждения
        td.col_2 м.п
        td.col_3 75
      tr.price_table_row.stroy_2.stroy_2_6
        td.col_1
          .softmerge-inner Сварочные работы
        td.col_2 шт
        td.col_3 дог
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-7
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_7
        td.col_1
          .softmerge-inner Беседки
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_7
        td.col_1
          .softmerge-inner Изготовление деревянной беседки
        td.col_2 м2
        td.col_3 от 700
      tr.price_table_row.stroy_2.stroy_2_7
        td.col_1
          .softmerge-inner Изготовление беседки из камня
        td.col_2 м2
        td.col_3 дог
      tr.price_table_row.stroy_2
        td.col_1
        td.col_2
        td.col_3
      //-  2-8
      tr.price_table_row.price_t_subcaption.stroy_2.stroy_2_8
        td.col_1
          .softmerge-inner Печи, камины
        td.col_2
        td.col_3
      tr.price_table_row.stroy_2.stroy_2_8
        td.col_1
          .softmerge-inner Кладка камина (h до 2м)
        td.col_2 м.п.
        td.col_3 от 5 000
      tr.price_table_row.stroy_2.stroy_2_8
        td.col_1
          .softmerge-inner Кладка печи (h до 2м)
        td.col_2 м.п.
        td.col_3 от 5 000
      //-  3
      //- tr.price_table_row.price_t_title.stroy_3
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж армированного бетона
        td.col_2 м3
        td.col_3 1100
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж балконного блока
        td.col_2 шт
        td.col_3 200
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж бетонного пола
        td.col_2 м2
        td.col_3 80
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж бетонных откосов окон
        td.col_2 м.п
        td.col_3 40
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж бойлера
        td.col_2 шт
        td.col_3 85
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж ванны (сталь, акрил)
        td.col_2 шт
        td.col_3 85
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж ванны (чугун)
        td.col_2 шт
        td.col_3 280
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж гипсокартона (стены, потолок)
        td.col_2 м2
        td.col_3 35
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж гипсокартонных перегородк и конструкций
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж дверных блоков входных
        td.col_2 шт
        td.col_3 150
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж дверных блоков межкомнатных
        td.col_2 шт
        td.col_3 90
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж душевой кабины
        td.col_2 шт
        td.col_3 110
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж ковролина
        td.col_2 м2
        td.col_3 15
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж краски
        td.col_2 м2
        td.col_3 18
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж ламината, паркетной доски
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж линолеума
        td.col_2 м2
        td.col_3 15
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж наличников
        td.col_2 шт
        td.col_3 15
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж не несущих стен (кирпич, бетон)
        td.col_2 м2
        td.col_3 240
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж несущих стен (кирпич, бетон)
        td.col_2 м2
        td.col_3 360
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж обоев
        td.col_2 м2
        td.col_3 10
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж обшивки стен из ДВП, ДСП, пластика
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж оконных блоков
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж паркетной доски приклееной
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж плинтуса
        td.col_2 м.п
        td.col_3 15
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж плитки
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж подоконника (бетон)
        td.col_2 м.п
        td.col_3 55
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж подоконника (дерево)
        td.col_2 м.п
        td.col_3 35
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж потолочного фриза
        td.col_2 м.п
        td.col_3 15
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж радиаторов
        td.col_2 шт
        td.col_3 40
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж сантехнических приборов
        td.col_2 шт
        td.col_3 85
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж светильника
        td.col_2 шт.
        td.col_3 25
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж труб водопроводных
        td.col_2 м.п
        td.col_3 15
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж труб канализации
        td.col_2 м.п
        td.col_3 30
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж цементной стяжки (до 50 мм)
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж цементной стяжки (от 50 мм)
        td.col_2 м2
        td.col_3 50
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж шпатлевки
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Демонтаж штукатурки
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_3
        td.col_1
          .softmerge-inner Перепланировка квартиры
        td.col_2 м2
        td.col_3 дог
      //-  4
      //- tr.price_table_row.price_t_title.stroy_4
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Вывоз мусора Газель (до 2т)
        td.col_2 машина
        td.col_3 450
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Вывоз мусора Зил / Маз (до 7т)
        td.col_2 машина
        td.col_3 600
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Вывоз мусора Камаз (до 9т)
        td.col_2 машина
        td.col_3 800
      tr.price_table_row.stroy_4
        td.col_1 Вынос мусора
        td.col_2 меш/эт
        td.col_3 3
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Занос гипсокартона
        td.col_2 лист/эт
        td.col_3 6
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Занос материалов (25 кг)
        td.col_2 меш/эт
        td.col_3 2,5
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Занос материалов (50 кг)
        td.col_2 меш/эт
        td.col_3 3
      tr.price_table_row.stroy_4
        td.col_1
          .softmerge-inner Погрузка мусора в мешки
        td.col_2 мешок
        td.col_3 3
      //-  5
      //- tr.price_table_row.price_t_title.stroy_5
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Врезка и монтаж щитка распределительного
        td.col_2 шт
        td.col_3 350
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Высверливание отверстий под стакан (бетон)
        td.col_2 шт
        td.col_3 25
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Высверливание отверстий под стакан (кирпич)
        td.col_2 шт
        td.col_3 20
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж автомата однофазного
        td.col_2 шт
        td.col_3 60
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж барьера
        td.col_2 шт
        td.col_3 90
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж бра, светильника настенного, от
        td.col_2 шт
        td.col_3 90
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж вентилятора электрического
        td.col_2 шт
        td.col_3 80
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж люстры (без сборки), от
        td.col_2 шт
        td.col_3 180
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж люстры (со сборкой), от
        td.col_2 шт
        td.col_3 280
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж полотенцесушителя
        td.col_2 шт
        td.col_3 180
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж светодиодного шнура, линейки
        td.col_2 шт
        td.col_3 45
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж счетчика электрического
        td.col_2 шт
        td.col_3 250
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Монтаж трансформатора 12V
        td.col_2 шт
        td.col_3 50
      tr.price_table_row.stroy_5
        td.col_1 Монтаж УЗО
        td.col_2 шт
        td.col_3 70
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Прозвонка существующей электрики
        td.col_2 раз
        td.col_3 300
      tr.price_table_row.stroy_5
        td.col_1
          | Укладка провода акустического, ТВ, интернет, 
          br
          | видеонаблюдения
        td.col_2 м.п
        td.col_3 7
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Укладка провода силового
        td.col_2 м.п
        td.col_3 6
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Устройство точки электрической
        td.col_2 точка
        td.col_3 72
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Устройство штроб в бетонных стенах
        td.col_2 м.п
        td.col_3 50
      tr.price_table_row.stroy_5
        td.col_1
          .softmerge-inner Устройство штроб в кирпичных стенах
        td.col_2 м.п
        td.col_3 40
      //-  6
      //- tr.price_table_row.price_t_title.stroy_6
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_6
        td.col_1
          | Демонтаж/монтаж стояка водоснабжения/отопления 
          br
          | (1/2 - 3/4)
        td.col_2 шт
        td.col_3 520
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Демонтаж/монтаж стояка канализации
        td.col_2 шт
        td.col_3 1200
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Запуск котла и системы отопления
        td.col_2 шт
        td.col_3 600
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж ванной акриловой
        td.col_2 шт
        td.col_3 от 500
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж ванной с гидромассажем
        td.col_2 шт
        td.col_3 от 750
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж ванной стальной
        td.col_2 шт
        td.col_3 400
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж ванной чугунной
        td.col_2 шт
        td.col_3 450
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж вентилей запорных
        td.col_2 шт
        td.col_3 45
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж водонагревателя накопительного
        td.col_2 шт
        td.col_3 320
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж душевого гидробокса
        td.col_2 шт
        td.col_3 950
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж душевого гидромассажного бокса
        td.col_2 шт
        td.col_3 от 1200
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж инсталляции встраиваемой
        td.col_2 шт
        td.col_3 360
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж кабинки душевой
        td.col_2 шт
        td.col_3 700
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж коллектора теплого пола
        td.col_2 шт
        td.col_3 800
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж котла настенного
        td.col_2 шт
        td.col_3 1200
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж смесителя встроенного
        td.col_2 шт
        td.col_3 270
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж смесителя для ванной
        td.col_2 шт
        td.col_3 180
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж счетчика учета воды
        td.col_2 шт
        td.col_3 180
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж умывальника
        td.col_2 шт
        td.col_3 280
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж унитаза
        td.col_2 шт
        td.col_3 270
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж фильтра грубой очистки
        td.col_2 шт
        td.col_3 180
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Монтаж штанги душевой
        td.col_2 шт
        td.col_3 170
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Подключение стиральной машины
        td.col_2 шт
        td.col_3 220
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Приваривание резьб
        td.col_2 шт
        td.col_3 190
      tr.price_table_row.stroy_6.stroy_6
        td.col_1
          .softmerge-inner Установка душевого поддона
        td.col_2 шт
        td.col_3 250
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство внутрипольного радиатора с разводкой
        td.col_2 шт
        td.col_3 620
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство водяного теплого пола
        td.col_2 м2
        td.col_3 125
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство радиаторов отопления с разводкой
        td.col_2 шт
        td.col_3 500
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство точки сантехнической (вода горячая)
        td.col_2 точка
        td.col_3 150
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство точки сантехнической (вода холодная)
        td.col_2 точка
        td.col_3 150
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство точки сантехнической (канализация)
        td.col_2 точка
        td.col_3 150
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство штроб (до 100 мм) в бетоне
        td.col_2 м.п
        td.col_3 105
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство штроб (до 100 мм) в кирпиче
        td.col_2 м.п
        td.col_3 70
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство штроб (до 50 мм) в бетоне
        td.col_2 м.п
        td.col_3 60
      tr.price_table_row.stroy_6
        td.col_1
          .softmerge-inner Устройство штроб (до 50 мм) в кирпиче
        td.col_2 м.п
        td.col_3 50
      //-  7
      //- tr.price_table_row.price_t_title.stroy_7
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж г/к на потолок (1 уровень)
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж г/к на потолок (2 уровня)
        td.col_2 м2
        td.col_3 85
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж г/к на потолок (3 уровня)
        td.col_2 м2
        td.col_3 100
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж г/к на стены
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж г/к на стены (радиус)
        td.col_2 м2
        td.col_3 90
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж панелей пластиковых, МДФ
        td.col_2 м2
        td.col_3 60
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж паробарьера
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж пенопласта / полистирола с заделывание стыков
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж перегородки г/к
        td.col_2 м2
        td.col_3 80
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Монтаж уголков МДФ (наружных, внутренних)
        td.col_2 м.п
        td.col_3 25
      tr.price_table_row.stroy_7
        td.col_1
          .softmerge-inner Укладка утеплителя для г/к
        td.col_2 м2
        td.col_3 20
      //-  8
      //- tr.price_table_row.price_t_title.stroy_8
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      //- tr.price_table_row.stroy_8
        td.col_1(colspan='3')
      //-  8-1
      tr.price_table_row.price_t_subcaption.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Стены и потолки
        td.col_2
        td.col_3
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Выведение углов наружных штукатуркой
        td.col_2 м.п
        td.col_3 18
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Грунтовка основания
        td.col_2 м2
        td.col_3 7,5
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Заделывание стыков г/к с проклейкой сетки
        td.col_2 м.п
        td.col_3 9
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Монтаж подоконника (пластик, дерево)
        td.col_2 шт
        td.col_3 135
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Монтаж сетки просечно-вытяжной
        td.col_2 м2
        td.col_3 23
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Монтаж сетки щелочеустойчивой (под шпатлевку)
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Монтаж уголка перфорированного
        td.col_2 м.п
        td.col_3 16,5
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Монтаж уголка перфорированного арочного
        td.col_2 м.п
        td.col_3 25
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Поклейка стеклохолста
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Шпатлевка закругленных поверхностей, радиусов и т.д.
        td.col_2 м.п
        td.col_3 60
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Шпатлевка стартовая
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Шпатлевка финишная
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Шпатлевка финишная (под покраску)
        td.col_2 м2
        td.col_3 52
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Штукатурка откосов цементно-песчаная
        td.col_2 м.п
        td.col_3 68
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Штукатурка цементно-песчаная (более 5 см)
        td.col_2 м2
        td.col_3 75
      tr.price_table_row.stroy_8.stroy_8_1
        td.col_1
          .softmerge-inner Штукатурка цементно-песчаная (до 5 см)
        td.col_2 м2
        td.col_3 68
      tr.price_table_row.stroy_8
        td.col_1
        td.col_2
        td.col_3
      //-  8-2
      tr.price_table_row.price_t_subcaption.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Полы
        td.col_2
        td.col_3
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Бетонирование пола
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Гидроизоляция основания цементная (2 слоя)
        td.col_2 м2
        td.col_3 28
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Монтаж терморегулятора теплого пола
        td.col_2 шт
        td.col_3 230
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Монтаж термошва по периметру
        td.col_2 м.п
        td.col_3 5
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Монтаж электрического теплого пола
        td.col_2 м2
        td.col_3 120
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Подготовка основания
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Уборка пылесосом основания
        td.col_2 м2
        td.col_3 8
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1 Укладка лаг
        td.col_2 м2
        td.col_3 170
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Укладка подложки под теплый пол
        td.col_2 м2
        td.col_3 15
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Укладка сетки армирующей
        td.col_2 м2
        td.col_3 23
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          | Укладка фанеры на теплый пол 
          br
          | (мелкая порезка, шлифовка, проклейка)
        td.col_2 м2
        td.col_3 55
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          | Укладка фанеры, ДСП,ОСБ 
          br
          | (раскрой, укладка, приклеивание, прикручивание)
        td.col_2 м2
        td.col_3 45
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Укрывание полов пленкой
        td.col_2 м2
        td.col_3 4
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Устройство маячной стяжки пола
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Устройство стяжки пола (нивелирмасса)
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Устройство чернового пола (укладка половой доски)
        td.col_2 м2
        td.col_3 100
      tr.price_table_row.stroy_8.stroy_8_2
        td.col_1
          .softmerge-inner Шлифовка фанеры
        td.col_2 м2
        td.col_3 13
      //-  9
      //- tr.price_table_row.price_t_title.stroy_9
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Грунтовка основания
        td.col_2 м2
        td.col_3 7,5
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Вырезание отверстий в плитке
        td.col_2 точка
        td.col_3 35
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Затирка швов мозаики
        td.col_2 м2
        td.col_3 35
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Затирка швов плитки
        td.col_2 м2
        td.col_3 23
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Заточка плитки под углом 45°
        td.col_2 м.п
        td.col_3 80
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Монтаж ревизии магнитной
        td.col_2 шт
        td.col_3 120
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Укладка мозаики
        td.col_2 м2
        td.col_3 310
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Укладка плитки
        td.col_2 м2
        td.col_3 150-160
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Укладка плитки 10х10
        td.col_2 м2
        td.col_3 175
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Укладка фриза керамического
        td.col_2 м.п
        td.col_3 70
      tr.price_table_row.stroy_9
        td.col_1
          .softmerge-inner Устройство подиума для ванной (кирпич)
        td.col_2 шт
        td.col_3 от 650
      //-  10
      //- tr.price_table_row.price_t_title.stroy_10
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      //- tr.price_table_row.stroy_10
        td.col_1(colspan='3')
      //-  10-1
      //- tr.price_table_row.price_t_subcaption.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Финишная отделка стен
        td.col_2
        td.col_3
      tr.price_table_row.price_t_subcaption.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Обои
        td.col_2
        td.col_3
      tr.price_table_row.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Поклейка флизелина (под покраску)
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Поклейка флизелиновых обоев
        td.col_2 м2
        td.col_3 55
      tr.price_table_row.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Поклейка виниловых обоев
        td.col_2 м2
        td.col_3 75
      tr.price_table_row.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Поклейка обоев на бумажной основе
        td.col_2 м2
        td.col_3 60
      tr.price_table_row.stroy_10.stroy_10_1
        td.col_1
          .softmerge-inner Поклейка текстильных обоев и фотообоев
        td.col_2 м2
        td.col_3 80
      //-  10-2
      tr.price_table_row.stroy_10
        td.col_1
        td.col_2
        td.col_3
      tr.price_table_row.price_t_subcaption.stroy_10.stroy_10_2
        td.col_1
          .softmerge-inner Покраска
        td.col_2
        td.col_3
      tr.price_table_row.stroy_10.stroy_10_2
        td.col_1
          .softmerge-inner Покраска поверхности в 2 слоя валиком
        td.col_2 м2
        td.col_3 35
      tr.price_table_row.stroy_10.stroy_10_2
        td.col_1
          .softmerge-inner Дополнительный слой покраски валиком
        td.col_2 м2
        td.col_3 20
      tr.price_table_row.stroy_10.stroy_10_2
        td.col_1
          .softmerge-inner Покраска поверхности маслянной краской
        td.col_2 м2
        td.col_3 47
      tr.price_table_row.stroy_10
        td.col_1
        td.col_2
        td.col_3
      //-  10-3
      tr.price_table_row.price_t_subcaption.stroy_10.stroy_10_3
        td.col_1
          .softmerge-inner Фризы
        td.col_2
        td.col_3
      tr.price_table_row.stroy_10.stroy_10_3
        td.col_1
          .softmerge-inner Монтаж пенопластового фриза + покраска
        td.col_2 м.п
        td.col_3 30
      tr.price_table_row.stroy_10.stroy_10_3
        td.col_1
          .softmerge-inner Монтаж полиуретанового фриза + покраска (до 10 см)
        td.col_2 м.п
        td.col_3 85
      tr.price_table_row.stroy_10.stroy_10_3
        td.col_1
          .softmerge-inner Монтаж полиуретанового фриза + покраска (более 10 см)
        td.col_2 м.п
        td.col_3 125
      tr.price_table_row.stroy_10.stroy_10_3
        td.col_1
          .softmerge-inner Покраска ровного фриза (отдельно)
        td.col_2 м.п
        td.col_3 15
      tr.price_table_row.stroy_10.stroy_10_3
        td.col_1
          .softmerge-inner Покраска сложного фриза (отдельно)
        td.col_2 м.п
        td.col_3 25
      //-  11
      //- tr.price_table_row.price_t_title.stroy_11
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Венецианская декоративная штукатурка
        td.col_2 м2
        td.col_3 от 120
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Гладкие тонкослойные покрытия
        td.col_2 м2
        td.col_3 от 120
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Имитация бетона, травертина, камня
        td.col_2 м2
        td.col_3 от 120
      tr.price_table_row.stroy_11
        td.col_1
          | Отделка декоративной штукатуркой откосов, 
          br
          | изделий
        td.col_2 м.п
        td.col_3 от 120
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Отделка декоративной штукатуркой потолков
        td.col_2 м2
        td.col_3 от 130
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Покрытие воском+полировка
        td.col_2 м2
        td.col_3 30
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Рельефная штукатурка
        td.col_2 м2
        td.col_3 от 120
      tr.price_table_row.stroy_11
        td.col_1
          .softmerge-inner Флоковая штукатурка
        td.col_2 м2
        td.col_3 от 120
      //-  12
      //- tr.price_table_row.price_t_title.stroy_12
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      //- tr.price_table_row.stroy_12
        td.col_1(colspan='3')
      //-  12-1
      tr.price_table_row.price_t_subcaption.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Финишное покрытие
        td.col_2
        td.col_3
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1 Вскрытие лаком паркета (за 1 слой)
        td.col_2 м2
        td.col_3 24
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1 Вскрытие маслом паркета (за 1 слой) (или масло воск)
        td.col_2 м2
        td.col_3 33
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Заливка наливного пола
        td.col_2 м2
        td.col_3 от 300
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Монтаж порожковой / переходной планки
        td.col_2 шт
        td.col_3 65
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1 Натирка швов защитным средством
        td.col_2 м2
        td.col_3 24
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка бытового коврового покрытия 
          br
          | с приклеиванием
        td.col_2 м2
        td.col_3 47
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка бытового коврового покрытия сводобная
        td.col_2 м2
        td.col_3 43
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка коммерческого коврового покрытия 
          br
          | (раскрой, прирезка, приклеивание)
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка коммерческого линолеума однотонная
          br
          |  (с приклеиванием)
        td.col_2 м2
        td.col_3 56
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка ламината по диагонали
        td.col_2 м2
        td.col_3 55
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка ламината прямая
        td.col_2 м2
        td.col_3 40
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка малоформатного ламината 
          br
          |  (ширина - до 170мм)
        td.col_2 м2
        td.col_3 60
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка малоформатной паркетной доски 
          br
          | плавающим способом (ширина - до 170мм)
        td.col_2 м2
        td.col_3 80
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка малоформатной паркетной доски 
          br
          | с приклеиванием (ширина - до 170мм)
        td.col_2 м2
        td.col_3 85
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка массивной доски по диагонали
        td.col_2 м2
        td.col_3 132
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка массивной доски прямая
        td.col_2 м2
        td.col_3 120
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка натурального линолеума однотонная
          br
          |  с приклеиванием
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка п/э пленки под напольное покрытие
        td.col_2 м2
        td.col_3 6
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка паркетной доски по диагонали 
          br
          | плавающим способом
        td.col_2 м2
        td.col_3 70
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка паркетной доски по диагонали 
          br
          | с приклеиванием
        td.col_2 м2
        td.col_3 80
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Укладка паркетной доски прямая 
          br
          | с приклеиванием
        td.col_2 м2
        td.col_3 75
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1 Укладка паркетной доски прямая плавающим способом
        td.col_2 м2
        td.col_3 65
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          .softmerge-inner Укладка полукоммерческого линолеума
        td.col_2 м2
        td.col_3 47
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1 Укладка художественного паркета щитового
        td.col_2 м2
        td.col_3 168
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1 Укладка штучного паркета
        td.col_2 м2
        td.col_3 132
      tr.price_table_row.stroy_12.stroy_12_1
        td.col_1
          | Шлифовка паркета высоко-качественная трио машиной 
          br
          | (художка, паркетная доска)
        td.col_2 м2
        td.col_3 168
      tr.price_table_row.stroy_12
        td.col_1
        td.col_2
        td.col_3
      //-  12-2
      tr.price_table_row.price_t_subcaption.stroy_12.stroy_12_2
        td.col_1
          .softmerge-inner Плинтус
        td.col_2
        td.col_3
      tr.price_table_row.stroy_12.stroy_12_2
        td.col_1
          .softmerge-inner Монтаж плинтуса пластикового
        td.col_2 м.п
        td.col_3 26
      tr.price_table_row.stroy_12.stroy_12_2
        td.col_1
          | Установка деревянного плинтуса с подрезанием углов 
          br
          | (h до 80 мм)
        td.col_2 м.п
        td.col_3 40
      tr.price_table_row.stroy_12.stroy_12_2
        td.col_1
          | Установка деревянного плинтуса с подрезанием углов 
          br
          | (h от 80)
        td.col_2 м.п
        td.col_3 от 50
      tr.price_table_row.stroy_12.stroy_12_2
        td.col_1
          | Установка деревянного плинтуса на криволинейных участках
          br
          |  (радиус)
        td.col_2 м.п
        td.col_3 110-130
      //-  13
      //- tr.price_table_row.price_t_title.stroy_13
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка дверного блока входого
        td.col_2 шт
        td.col_3 500
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка дверного блока межкомнатного
        td.col_2 шт
        td.col_3 325
      tr.price_table_row.stroy_13
        td.col_1
          | Установка дверного блока межкомнатного 
          br
          | двухстворчатого
        td.col_2 шт
        td.col_3 480
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка раздвижной системы
        td.col_2 шт
        td.col_3 400
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка стеклянной двери
        td.col_2 шт
        td.col_3 420
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка расширителя дверного
        td.col_2 комплект
        td.col_3 60
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка обшивки дверного проема
        td.col_2 комплект
        td.col_3 400
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка порога
        td.col_2 шт
        td.col_3 60
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Установка портала
        td.col_2 шт
        td.col_3 60
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Монтаж ограничителя дверного
        td.col_2 шт
        td.col_3 40
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Подрезка наличника, расширителя и т.д.
        td.col_2 шт
        td.col_3 60
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Подрезка полотна
        td.col_2 шт
        td.col_3 60
      tr.price_table_row.stroy_13
        td.col_1
          .softmerge-inner Расширение / сужение проема
        td.col_2 шт
        td.col_3 100
      //-  14
      //- tr.price_table_row.price_t_title.stroy_14
        td.col_1
          .softmerge-inner Наименование услуг
        td.col_2 Единицы
        td.col_3 Цена, грн
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Диагностика кондиционера
        td.col_2 шт
        td.col_3 220
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Демонтаж кондиционера (7-9)
        td.col_2 шт
        td.col_3 375
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Демонтаж кондиционера (12)
        td.col_2 шт
        td.col_3 425
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Демонтаж кондиционера (18)
        td.col_2 шт
        td.col_3 475
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Демонтаж кондиционера (24)
        td.col_2 шт
        td.col_3 525
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Стоимость трассы кондиционерной (7-9)
        td.col_2 м.п
        td.col_3 200
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Стоимость трассы кондиционерной (12-18)
        td.col_2 м.п
        td.col_3 240
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Стоимость трассы кондиционерной (24 и выше)
        td.col_2 м.п
        td.col_3 350
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Закладывание магистрали кондиционерной
        td.col_2 м.п
        td.col_3 90
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Штробление под магистраль (кирпич/бетон)
        td.col_2 м.п
        td.col_3 100/150
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Монтаж кондиционера (7-9)
        td.col_2 шт
        td.col_3 750
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Монтаж кондиционера (12)
        td.col_2 шт
        td.col_3 850
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Монтаж кондиционера (18)
        td.col_2 шт
        td.col_3 950
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Монтаж кондиционера (24)
        td.col_2 шт
        td.col_3 1050
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Чистка кондиционера сплит-система (7-24)
        td.col_2 шт
        td.col_3 300
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Дозаправка кондиционера фреоном R22 (7-12)
        td.col_2 шт
        td.col_3 280
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Дозаправка кондиционера фреоном R22 (12 и выше)
        td.col_2 шт
        td.col_3 360
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Дозаправка кондиционера фреоном R410A (7-12)
        td.col_2 шт
        td.col_3 350
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Дозаправка кондиционера фреоном R410A (12 и выше)
        td.col_2 шт
        td.col_3 550
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Восстановление изоляции фреоновой магистрали (флекс)
        td.col_2 шт
        td.col_3 250
      tr.price_table_row.stroy_14
        td.col_1
          .softmerge-inner Демонтаж/монтаж стеклопакета
        td.col_2 шт
        td.col_3 100
