include mixins
doctype html
html(lang='ru')
  +dev_head('Real Команда')

  body.inner_page
    .rect_1024
    .wrapper
      +header(3)

      .base
        section.section_w.white_section: .section_inner
         


      +footer()
